@layout('layouts.main')

@section('title')
JobPoster - Post your Job
@endsection

@section('content')
<h1>All Jobs</h1>

<div class="job-container">
  <div class="blank"></div>
  <div class="job-info">
    <h3>Job title</h3>
    <p>Future job description goes here</p>
  </div>
</div>
  
@endsection
